# Ignore virtual environment
venv/

# Ignore environment variable files
backend/.env
frontend/.env

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore node_modules (for frontend)
frontend/node_modules/

# Ignore system files
.DS_Store
Thumbs.db